.blog-container{
    display: grid;
    grid-template-columns: 1fr 280px;
    column-gap: 50px;
    margin-top: 50px;

}

.blog-container main h2{
    text-transform: uppercase;
    margin-bottom: 30px;
}

.post-meta{
    border-top: 1px solid #eaeaea;
    padding: 12px 0;
    font-size: .8rem;
    font-family: "Roboto Slab", serif;
}

.post-meta svg{
    margin-right: 5px;
    color: #0098d7;
}

.post-content{
    margin: 30px 0;
    font-family: 'Open Sans', sans-serif;
}
.post-content p{
    text-align: justify;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6{
    margin: 20px 0;
    text-transform: none !important;
}



@media only screen and (max-width: 900px) {

    .blog-container{
        display: block;

    }
}